<%- include("../includes/header") %>
<div class="form-container">
  <div class="form">
    <a href="/" class="back-btn">Back</a>
    <h1 class="title">Change new password</h1>
    <% if(errMsg.length){ %>
      <p class="alert"><%= errMsg %></p>
      <% } %>
    <form action="/change-new-password" method="post">
        <input hidden value="<%= csrfToken %>" name="_csrf" />
        <input hidden value="<%= resetToken %>" name="resetToken" />
        <input hidden value="<%= user_id %>" name="user_id" />
      <div class="mx-auto">
        <div class="form-data">
          <div>
            <label for="password">Enter New Password</label>
            <input type="password" id="password" name="password" autofocus/>
          </div>
          <label for="comfirm_password">Enter New Comfirm Password</label>
            <input type="password" id="comfirm_password" name="comfirm_password" />
          </div>
        </div>
        <button>Change Password</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/footer") %>
