<%- include("../includes/header") %>
<div class="form-container">
    <div class="form">
      <a href="/" class="back-btn">Back</a>
        <h1 class="title">Register a new account here!</h1>
        <form action="/register" method="post">
          <% if(errMsg.length){ %>
            <p class="alert-warn"><%= errMsg %></p>
            <% } %>
          <input hidden value="<%= csrfToken %>" name="_csrf" />
      <div class="mx-auto">
        <div class="form-data">
          <div>
            <label for="email">Enter Email</label>
            <input type="text" id="email" name="email" value="<%= oldFormData.email%>" />
          </div>
          <label for="password">Enter Password</label>
            <input type="password" id="password" name="password" value="<%= oldFormData.password%>" />
          </div>
        </div>
        <button>Create Account</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/footer") %>
