<%- include("./includes/header") %>
<div class="form-container">
  <div class="form">
    <a href="/" class="back-btn">Back</a>
    <h1 class="title">Add a new post here!</h1>
    <% if(errMsg.length){ %>
      <p class="alert"><%= errMsg %></p>
      <% } %>
    <form action="/admin" method="post" novalidate>
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <div class="mx-auto">
        <div class="form-data">
          <div>
            <label for="title">Enter title</label>
            <input type="text" id="title" name="title" required value="<%= oldFormData.title %>" />
          </div>
          <div>
            <label for="title">Enter Photo</label>
            <input type="text" id="photo" name="photo" required value="<%= oldFormData.photo %>" />
          </div>
          <div>
            <label for="description">Enter Description</label>
            <textarea
              name="description"
              id="description"
              cols="21"
              rows="5"
            ><%= oldFormData.description %></textarea>
          </div>
          <button>Add Post</button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include("./includes/footer") %>
