<%- include("./includes/header") %>
<h1>Home Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repudiandae,
  cum a consectetur, at fugit dolorum, corporis recusandae optio provident natus
  laboriosam nulla totam delectus ipsam repellat sed quod voluptates.
</p>
<% if(isLogin) { %>
<a href="/admin/create-post">Create Post</a>
<form action="/logout" method="post">
  <input hidden value="<%= csrfToken %>" name="_csrf" />
  <button>Logout</button>
</form>
<% } else { %>
<a href="/login">Login to existing account</a>
<a href="/register">Create a new account</a>
<% } %>
<hr />

<h1 class="title">Posts</h1>
<% if(postsArr.length === 0) {%>
<div>
  <h4>Nothing to see?</h4>
  <p>Create a new post now !!!</p>
  <a href="/admin/create-post">Add Post</a>
</div>
<% }%> <% for(let post of postsArr) { %>
<div class="post-box">
  <div>
    <p class="post-title"><%= post.title %></p>
    <p>Post by => <%= post.userId.email%></p>
  </div>
  <a href="/post/<%= post._id %>">See More...</a>
</div>
<% } %> <%- include("./includes/footer") %>
